// ## Layout

// The designs were created to the following widths:

// - Mobile: 375px * 667
// - Desktop: 1440px * 900


// @import "./utils/variables";
@import "./base/typography";
    // font-family: 'Outfit', sans-serif;
    // font-weights : 300, 400, 600

// Variables
$color-bg: hsl(217, 54%, 11%);
$color-card-bg: hsl(216, 50%, 16%);
$color-white: hsl(0, 0%, 100%);
$color-txt: hsl(215, 51%, 70%);
$color-cyan: hsl(178, 100%, 50%);
$color-line: hsl(215, 32%, 27%);


// Mixins
@mixin card {
    background-color: $color-card-bg;
}
@mixin margin {
    margin: 1rem;
}

html {
    font-size: 62.5%;
}

body {
    background-color: $color-bg;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Outfit', sans-serif;
}


.card {
    // border: 2px solid red;
    @include card;
    max-width: 90%;
    height: 40%;
    border-radius: 10px;
    padding: 0.5rem;
    @include margin;
    box-shadow: $color-bg;
    .div-img {
        // border: 2px solid yellow;
        margin-left: auto;
        margin-right: auto;
        width: 30em;
        position: relative;
        &:hover .overlay {
            opacity: 1;
        }
    }
}

.div-img {
    &__img-equilibrium {
        display: block;
        max-width: 100%;
        height: auto;
        border-radius: 5px;
        opacity: 1;
        // backface-visibility: hidden;
    }
    .overlay {
        position: absolute;
        background-image: url(../images/icon-view.svg) no-repeat;
        opacity: 0;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transition: 400ms ease;
        // transform: translate(-50%, -50%);
    }
}

// font-size p = 18px
p {
    color: $color-txt;
    font-size: 1.5rem;
    font-weight: 400;
}
a {
    text-decoration: none;
    color: $color-white;
    &:hover {
        color: $color-cyan;
        cursor: pointer;
    }
}

.description {
    // border: 2px solid green;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include margin;
    padding: 0 0.5rem;
    line-height: 1.2;
    &__title {
        color: $color-white;
        font-size: 2rem;
        font-weight: 600;
    }
    &__item1 {
        // border: 2px solid salmon;
        font-weight: 300;
        padding: 0.2rem;
        margin: 0;

    }
    // icons using :before?
    &__item2 {
        // border: 2px solid lawngreen;
        font-weight: 600;
        color: $color-cyan;
        // width: fit-content;
        &+img {
            align-self: center;
        }
    }
}



.credits {
    // border: 2px solid pink;
    border-top: 1px solid $color-line;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 0.5rem;
    @include margin;
    &__img {
        max-width: 3em;
        max-height: 3em;
        border: 1px solid $color-white;
        border-radius: 50%;
        margin-right: 2rem;
    }
}